.intro__container {
    display: flex;
    flex-direction: row;
}

.intro__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-right: 30px;
}

.intro__content h1 {
    font-family: var(--font-family);
    font-weight:800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04rem;
}

.intro__content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
}

.intro__image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__image img {
    
    max-width: 100%;
    height: 100%;
}

@media screen and (max-width: 1050px) {
    .intro__container {
        flex-direction: column;
        margin: 0 0 3rem; 
    }
    .intro__image {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .intro__container {
        flex-direction: column;
        margin: 0 0 3rem; 
    }
    .intro__content h1 {
        font-size: 48px;
        line-height: 60px;
        align-items: center;
    }
    .intro__content h2 {
        font-size: 15px;
        line-height: 21px;
        align-items: center;
    }
    .intro__content h3 {
        font-size: 14px;
        line-height: 21px;
        align-items: center;
    }
    .intro__content h4 {
        font-size: 14px;
        line-height: 21px;
        align-items: center;
    }

    .intro__image {
        flex-direction: column;
    }

}

@media screen and (max-width: 490px) {
    .intro__container {
        flex-direction: column;
        margin: 0 0 3rem; 
    }
    .intro__content h1 {
        font-size: 36px;
        line-height: 48px;
        align-items: center;
    }
    .intro__content h2 {
        font-size: 14px;
        line-height: 21px;
        align-items: center;
    }
    .intro__content h3 {
        font-size: 14px;
        line-height: 21px;
        align-items: center;
    }
    .intro__content h4 {
        font-size: 14px;
        line-height: 21px;
        align-items: center;
    }
    .intro__image {
        flex-direction: column;
    }
}